@* LoadingState - Wrapper for loading/not-found/content pattern *@
@inherits LoadingStateViewModel

@if (IsLoading)
{
    @if (UseSkeleton)
    {
        <div class="loading-state loading-state--skeleton">
            @SkeletonContent
        </div>
    }
    else
    {
        <div class="loading-state loading-state--loading">
            <p class="loading">@LoadingText</p>
        </div>
    }
}
else if (!HasContent)
{
    <div class="loading-state loading-state--empty">
        <p class="loading-state__message">@NotFoundText</p>
        @if (!string.IsNullOrEmpty(BackLinkUrl))
        {
            <a href="@BackLinkUrl" class="btn btn--outline">@BackLinkText</a>
        }
    </div>
}
else
{
    @ChildContent
}
