@namespace OutWit.Docs.Framework.Components.Content
@using OutWit.Docs.Framework.Content
@using OutWit.Docs.Framework.Services
@inject ComponentRegistry ComponentRegistry

@* Renders embedded components dynamically based on type *@

@foreach (var component in Components)
{
    var componentType = ComponentRegistry.GetComponentType(component.Type);
    
    if (componentType != null)
    {
        <DynamicComponent Type="@componentType" Parameters="@GetParameters(component)" />
    }
    else
    {
        @* Unknown component - render as comment for debugging *@
        <div class="embedded-component-unknown">
            <em>Unknown component: @component.Type</em>
        </div>
    }
}

@code {
    [Parameter] public List<EmbeddedComponent> Components { get; set; } = new();

    private Dictionary<string, object?> GetParameters(EmbeddedComponent component)
    {
        var parameters = new Dictionary<string, object?>(StringComparer.OrdinalIgnoreCase);
        
        // Copy all string parameters
        foreach (var param in component.Parameters)
        {
            parameters[param.Key] = param.Value;
        }
        
        // Add inner content for block components
        if (!string.IsNullOrEmpty(component.InnerContent))
        {
            parameters["InnerContent"] = component.InnerContent;
        }
        
        // Add base path for relative URL resolution
        if (!string.IsNullOrEmpty(component.BasePath))
        {
            parameters["BasePath"] = component.BasePath;
        }
        
        return parameters;
    }
}
